ul{
    list-style: none;
}

.header{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}
/* background: linear-gradient(45deg, blue, purple, pink); */
a{
font-size: 1.5rem;
color: aliceblue;
}

.header-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu a{
    display: inline-block;
    padding: 16px 0px;
    position: relative;
}

h1{
    font-size: 3rem;
}

.stack {
    position: relative;
    width: 100%;
}

.stack img {
    width: 100%;
    display: block;
}

.stack h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stack p {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}