ul{
    list-style: none;
}

.header{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}
/* background: linear-gradient(45deg, blue, purple, pink); */
a{
font-size: 3rem;
color: aliceblue;
}

.header-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu a{
    display: inline-block;
    padding: 16px 0px;
    position: relative;
}

h1{
    font-size: 5rem;
}

